//Colors
$primary-blue: #0071bc;
$primary-blue-opaque: rgba(0,113,188,0.05);
$cbp-blue: #005288;
$border-patrol-blue: #002a54;
$nav-bar-blue: #112E51;
$focus-blue: #02bfe7;
$blue-header: #112E51;
$deselect-button: #3B3B4D;
$network-tray: #DCDBDC;

$base: #212121;
$gray-dark: #323a45;
$gray: #5b616b;
$gray-opaque: rgba(91,97,107,0.05);
$gray-light: #aeb0b5;
$gray-lighter: #d6d7d9;
$gray-lightest: #f1f1f1;
$gray-medium: #808087;
$white: #ffffff;