<div fxFill fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar fxFlex="60px">
    <div fxLayout="row" fxLayoutAlign="start start">
      <img src="./assets/cp-logo.svg" class="logo" />
    </div>

    <div class="top-nav-links">
      <a class="top-nav-links-link" routerLink="create" aria-label="navigation link">Create</a>
      <a class="top-nav-links-link" routerLink="view" aria-label="navigation link">View</a>
    </div>
  </mat-toolbar>

  <div fxFlex class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
