<div class="login-auth" fxLayout="column">
    <h1>Login</h1>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <mat-form-field>
      <input matInput placeholder="User Name" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password">
      <mat-hint>
        <a href="">Forgot Username or Password?</a>
      </mat-hint>
    </mat-form-field>
    <button mat-flat-button color="accent">Sign In</button>
  </div>
</div>
